body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.about{
    background-color: #183042;
    color: white;
}
.aboutMe{
    text-align: justify;
}
.bi::before{
    font-size: 26px;
    color: white;
    margin-right: 8px;
}
.skillicon{
    height: 50px;
    width: auto;
}